/* General Container */
.home-container {
  font-family: "Days One", sans-serif;
  color: #52377b;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

/* Hero Section */
.hero-section {
  display: flex;
  text-align: left;
  flex-direction: column;
  align-items: start;
}

.hero-line {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.hero-text {
  font-size: 6rem;
  margin: 0;
}

.hero-graphic {
  width: 100%;
  max-width: 800px;
  height: auto;
  border-radius: 10px;
}
.hero-icon {
  width: 250px;
  height: auto;
  position: relative;
  z-index: 10;
  margin: -30px 0; /* Adjust as needed for overlapping effect */
}
.hero-coding {
  width: 100%;
  max-width: 650px;
  height: auto;
  border-radius: 10px;
}

/* CTA Section */
.cta-section {
  font-family: "Alata", sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  gap: 2rem;
}

.cta-content {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

.cta-button {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  font-family: "Alata", sans-serif;
  background-color: #52377b;
  color: #ffa829;
  border: none;
  padding: 12px 20px;
  font-size: 1.5rem;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.cta-button:hover {
  background-color: #6c4a9b;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: #ffa829;
  border-radius: 50%;
  color: #52377b;
  font-size: 1.5rem;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.arrow:hover {
  transform: rotate(45deg);
  background-color: #ffbf50;
}

.cta-icon {
  width: 200px;
  height: 200px;
}

.cta-description {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #52377b;
  max-width: 700px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .hero-text {
    font-size: 2.5rem;
  }

  .hero-graphic,
  .hero-coding {
    display: none;
    width: 100%;
    max-width: 90%;
  }

  .hero-icon {
    display: none;
    width: 100px;
  }

  .cta-button {
    font-size: 1.2rem;
    padding: 10px 15px;
  }

  .arrow {
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
  }
  .cta-content {
    gap: 1rem;
  }
  .cta-section {
    gap: 0rem;
  }
  .cta-icon {
    width: 107px;
    height: 107px;
  }

  .cta-description {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .hero-line {
    flex-direction: column;
  }

  .hero-text {
    font-size: 3rem;
  }

  .cta-button {
    font-size: 1rem;
    padding: 8px 12px;
  }

  .cta-description {
    font-size: 0.9rem;
  }
}